---
import Section from "./Section.astro"
---

<Section
    title="Model Y"
    subtitle="Concertar una prueba de conducción"
    color="black">
    <div slot="footer" class="flex gap-x-4 mx-auto">
        <a class="bg-gray-600 text-sm rounded font-medium text-white border-[3px] border-gray-600 bg-white/5 backdrop-blur-sm px-12 py-2 inline-block hover:bg-black hover:border-black hover:text-white transition-colors" href="#">Explorar inventario</a>
        <a class="border-[3px] border-white bg-white backdrop-blur-sm rounded font-medium text-gray-600 px-12 py-2 inline-block text-sm hover:bg-black hover:text-white hover:border-black transition-colors" href="#">Pedido personalizado</a>
    </div>
    <img slot="background" src="/modelY.avif" alt="Model Y" class="h-full w-full object-cover object-center">
</Section>